*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-top: 5px;
    
}

body{
    background-color:rgb(185, 185, 185);
    
}
/*header*/

header{
    margin-top: 0;
    padding-bottom: 100px;
}
h1{
    display: inline-block;
    vertical-align: middle;
}

img{
    vertical-align: middle;
}
.logotext{
    display: inline-block;
}
.logo{
    background-color: white;
    height: 100px;
    
    
}

/*main*/

.container{
    width: 80%;
    margin: auto;
    background-color:white;
    
}

.task li{
    list-style: none;
    
}

.today li{
    list-style: none;
    
}

.upcoming li{
    list-style: none;
    
}

.background{
    border-radius:20%;
    color: white;
    padding: 5px;
}

.pink{
    background-color: pink;
}

.green{
    background-color: green;
}

.blue{
    background: blue;
}

.violet{
    background: violet;
    
}  

.orange{
    background-color: orange;
}
.choice{
    
    padding-left: 5%;
    padding: 50px;
    
}

.button{
    border-radius:20%;
    color: lightgrey;
    background-color:blue;
    border: 1px solid lightgrey;
}   

.button2{
    background-color: white;
    color: lightgrey;
    border-radius:20%;
    border: 1px solid lightgrey;

}   

ul li{
    display: block;
    margin: 20px;
}

ul{
    display: block;
}

.not-verified{
    border-radius: 50px;
    border: 2px solid red;
    padding: 7px;
    font-size: 10px;
}

.verified{
    border-radius: 50px;
    border: 2px solid green;
    padding: 7px;
    font-size: 10px;
}

.upcoming{
    padding-bottom: 50px;
}